@import '../../styles/variables';

.transactions-table-wrapper {
  overflow-x: auto;
  width: 100%;
  height: fit-content;
  box-shadow: $box-shadow;
  border-radius: 5px;
  background-color: white;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  &__heads > tr {
    box-shadow: $box-shadow;
  }

  &__heads > tr > th {
    padding: 20px;
    color: $branding-blue;
  }

  &__body > tr:nth-of-type(even) {
    background-color: transparentize($color: $neutral-black, $amount: 0.92);
  }

  &__body > tr > td {
    padding: 15px;
  }
}

.transaction-completed {
  border-left: 15px solid $success-color;
}

.transaction-pending {
  border-left: 15px solid $warning-color;
}

.transaction-rejected {
  border-left: 15px solid $danger-color;
}

.no-transactions {
  text-align: center;
}
