@import '../../styles/variables';

.section-title {
  justify-self: left;
  text-align: left;

  & > span {
    font-size: 0.8em;
    font-style: italic;
  }

  & > h1 {
    margin: 0;
    color: $branding-blue;
  }
}
