@import '../../styles/variables';

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: $box-shadow;

  &__title {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    color: $branding-blue;
  }
}

.label {
  margin-bottom: 10px;
}

.input {
  border: none;
  outline: none;
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
  transition: border 0.2s;
  margin-bottom: 10px;
  width: 100%;

  &:focus {
    border-width: 2px;
    border-style: solid;
  }

  &:invalid {
    border-color: $danger-color;
  }

  &:valid {
    border-color: $success-color;
  }
}
