@import '../../styles/variables';

.toast {
  background-color: $neutral-black !important; /* Swal library pushes me to do this :c */
  box-shadow: $box-shadow !important;
  width: 280px !important;

  &__text {
    color: white !important;
    text-align: left !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 700 !important;
  }

  &__icon {
    margin-right: 10px !important;
  }
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border-radius: 20px;
  width: 180px;
  margin: 10px;
  box-shadow: $box-shadow;
}

.confirm-button {
  background-color: $success-color;
  color: white;

  &:active,
  &:focus {
    filter: brightness(120%);
  }
}

.cancel-button {
  background-color: $danger-color;
  color: white;
}
