@import '../../styles/variables';

button {
  border: none;
  background: none;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: $box-shadow;
}

.primary-button {
  background-color: $success-color;
  border: 2px solid $success-color;
  color: white;

  &:active,
  &:focus {
    filter: brightness(120%);
  }

  &:disabled {
    filter: saturate(0);
  }
}

.secondary-button {
  background-color: white;
  border: 2px solid $neutral-black;
  color: $neutral-black;
}

.danger-button {
  background-color: $danger-color;
  border: 2px solid $danger-color;
  color: white;
}
