@import '../../styles/variables';

.splash-screen {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $neutral-white;
  z-index: 1000;
}
