@import './variables';

@mixin ImgBackground($img, $pos) {
  background-image: url($img);
  background-position: $pos;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

@mixin chartStyle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: $box-shadow;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: center;

  &--nodata {
    display: block;
    width: 50%;
  }
}
