// Branding colors
$branding-blue: #0081ba;
// Neutral colors
$neutral-black: #333;
$neutral-white: #fcfcfc;
// Semantic colors
$success-color: rgb(65, 158, 65);
$warning-color: rgb(255, 183, 49);
$danger-color: #ce4f4f;
// Shadows
$box-shadow: 0 2px 10px rgba(128, 128, 128, 0.5);
