@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './variables';

::selection {
  background-color: $branding-blue;
  color: white;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: $neutral-black;
  background-color: $neutral-white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
