@import '../../styles/variables';

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid transparent;
  border-top-width: 3px;
  border-top-style: solid;
  animation: spin 0.3s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.white {
  border-top-color: $neutral-white;
}

.black {
  border-top-color: $neutral-black;
}
