@import '../../styles/variables';

.product {
  position: relative;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: $box-shadow;
  transition: transform 0.2s;
  background-image: url(../../assets/product.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;

  &--active {
    border: 3px solid $branding-blue;
    cursor: initial;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &:hover {
    transform: scale(1.05);
  }

  &__name {
    position: absolute;
    text-align: center;
    width: fit-content;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    font-size: 1.3em;
    background-color: $branding-blue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    color: white;
    font-weight: 700;
  }

  &__id {
    display: block;
    text-align: center;
    font-style: italic;
  }

  &__price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    background-color: $warning-color;
    color: white;
    font-weight: 700;
    box-shadow: $box-shadow;
    border-radius: 5px;
  }

  &__active-flag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    background-color: $success-color;
    color: white;
    font-weight: 700;
    box-shadow: $box-shadow;
    border-radius: 5px;
  }

  &__begin-date,
  &__end-date {
    display: block;
    margin: 10px 10px 10px 0;
    width: fit-content;
    padding: 5px;
    background-color: $neutral-black;
    color: white;
    font-weight: 700;
    box-shadow: $box-shadow;
    border-radius: 5px;
  }
}
