@import '../../styles/variables';
@import '../../styles/mixins';

.login-page {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  @include ImgBackground('../assets/neuralgeeks-bg.jpg', center);

  @media screen and (min-width: 1024px) {
    flex-flow: row nowrap;
    justify-content: center;
  }
}
