@import '../../styles/variables';

.active-product-widget {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-bottom: 40px;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    color: $branding-blue;
  }
}
