@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  @include ImgBackground('../assets/neuralgeeks-bg.jpg', bottom);
  transition: transform 0.2s;
  z-index: 99;
  padding: 10px;

  @media screen and (min-width: 768px) {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.5);
  }

  &--shown {
    transform: translateX(0);
  }

  &--hidden {
    transform: translateX(-100%);
  }

  &__item,
  &__profile-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 20px;
    transition: background-color 0.2s, border-left 0.2s;
    background-color: transparent;
    font-size: 1.1em;
    border-radius: 5px;
    margin-bottom: 15px;

    &-icon {
      font-size: 1.7em;
      margin-right: 20px;
    }

    &:focus,
    &:hover,
    &--active {
      outline: none;
      background-color: transparentize($color: $neutral-black, $amount: 0.2);
      border-left: 4px solid $neutral-white;
      border-right: 4px solid $neutral-white;
    }
  }

  &__profile-item {
    height: 90px;
    margin-bottom: 40px;

    &:focus,
    &:hover {
      outline: none;
      background-color: transparentize($color: $neutral-black, $amount: 0.2);
    }

    &--text {
      display: flex;
      flex-flow: column nowrap;

      & > span:last-child {
        font-size: 0.85em;
      }
    }
  }

  &__logout-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    bottom: 30px;
    left: 30px;
    border-radius: 100%;
    background-color: white;
    color: $neutral-black;
    padding: 20px;

    &:focus {
      border: 2px solid white;
    }
  }
}

.menu-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  bottom: 30px;
  right: 30px;
  border-radius: 100%;
  background-color: white;
  color: $neutral-black;
  box-shadow: $box-shadow;
  padding: 20px;
  z-index: 100;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
