.widgets-box {
  &--products {
    display: grid;
    grid-template-columns: minmax(280px, 300px);
    grid-auto-rows: 280px;
    gap: 35px 0;
    justify-content: center;

    @media screen and (min-width: 960px) {
      grid-template-columns: repeat(2, 280px);
      gap: 35px;
      justify-content: left;
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(3, 280px);
    }
  }

  &--graphs {
    display: grid;
    grid-template-columns: minmax(280px, 500px);
    grid-auto-rows: 280px;
    gap: 40px;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, minmax(280px, 500px));
      grid-template-rows: 280px;
      grid-auto-flow: column;
      justify-content: left;
    }
  }

  &--profile {
    display: grid;
    grid-template-columns: minmax(280px, 300px);
    grid-template-rows: 400px;
    gap: 20px;
    justify-content: center;

    @media screen and (min-width: 960px) {
      grid-template-columns: repeat(2, minmax(280px, 300px));
      grid-template-rows: 400px;
      justify-content: left;
      gap: 30px;
    }
  }
}
