@import '../../styles/variables';

.section {
  padding: 20px 20px 100px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  gap: 50px 0;
  background-color: $neutral-white;

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}
